
.Golden-Button{
    padding: 16px 40px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    background-color: #AC8435;
    color: white;
}
.Golden-Button:hover{
    background-color: white;
    color: #AC8435;
    border: 1px solid #AC8435;
}