.Food-Section{
    margin-bottom: 100px;
}
.Food-Category-Title{
    font-size: 32px;
    
    margin-bottom: 200px;
}

.Food-Category-Container{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 24px;
}

.Food-Category-Card{
    background-image: url("../../../assets/images/pngegg\ \(10\)\ 2.png");
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    
}
.Food-Card-Info{
    position: relative;
    height: 424px;
    width: 477px;
}

.Food-Card-Img{
    position: absolute;
    left: 10px;
    bottom: 80px;
}
.Food-Card-Img img{
    width: 90%;
}
.Food-Card-Title{
    font-size: 32px;
}