.header{
    height: 80px;
    background-color: #08a9a6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
}
.header-name{
    display: flex;
    align-items: center;
    /* justify-content: ; */
    color: white;
}
.dumbbell{
    height: 50px;
}

.header a{
    text-decoration: none;
    margin-left: 20px;
    color: white;
}
.header a:hover{
    color: orange;
}

@media only screen and (max-width: 700px) {
    .header{
        display: flex;
        flex-direction: column;
        padding : 0;
        
    }
    .header a{
        display: none;
    }
  }